<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.young.planhelper">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序设置内置sd卡的读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 接入高德地图开发者key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fad72c24bda0a2645c9487147d215cbb" />

        <activity
            android:name=".mvp.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.schedule.view.ScheduleAddActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".mvp.common.photo.SelectPhotoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mvp.plan.view.PlanAddActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".mvp.plan.view.planitem.PlanItemActivity"
            android:label="@string/title_activity_plan_detail" />
        <activity android:name=".mvp.plan.view.planitem.PlanItemEditActivity" />
        <activity android:name=".mvp.plan.view.planitem.seconditem.PlanSecondItemAddActivity" />
        <activity android:name=".mvp.plan.view.planitem.seconditem.PlanSecondItemDetailActivity" />
        <activity android:name=".mvp.plan.view.planitem.thirditem.PlanThirdItemAddActivity" />
        <activity android:name=".mvp.schedule.view.ScheduleDetailActivity" />

        <service android:name=".mvp.common.service.TaskTimeService" />

        <receiver android:name=".mvp.common.service.AlarmReceiver" />

        <activity
            android:name=".mvp.login.view.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.home.HomeCloneActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.schedule.view.ScheduleAddCloneActivity" />
        <activity
            android:name=".mvp.overview.OverviewActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mvp.timeline.TimelineActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.profile.view.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mvp.schedule.view.MarkerActivity" />
        <activity
            android:name=".mvp.plan.view.PlanCloneActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.register.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.friend.view.FriendActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.friend.view.add.FriendAddActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.common.crop.activity.CropActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.friend.view.search.FriendSearchActivity" />
        <activity android:name=".mvp.friend.view.FriendDetailActivity" />
        <activity
            android:name=".mvp.friend.view.FriendRemarkActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".mvp.friend.view.chat.FriendChatDetailActivity"></activity>
    </application>

</manifest>